<button type="button" class="btn btn-primary">
    <i class="bi bi-plus-circle"></i>
    Add New Task
</button>
<table class="table table-bordered table-striped mt-3">
    <tbody>
        <tr>
            <th>Description</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Timestamp</th>
            <th colspan="2">Actions</th>
        </tr>
        <tr *ngFor="let task of tasksList">
            <td style="width: 50%">
                {{task.description}}
            </td>
            <td style="width: 10%">
                {{task.status}}
            </td>
            <td style="width: 10%">
                {{task.priority}}
            </td>
            <td style="width: 10%">
                {{task.timeStamp | date: 'dd/mm/yyyy hh:mm'}}
            </td>
            <td class="center-icon">
                <i class="bi bi-pencil-fill"></i>
            </td>
            <td class="center-icon">
                <i class="bi bi-trash"></i>
            </td>
        </tr>
    </tbody>
</table>