<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Priority</th>
        <th scope="col">Timestamp</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasksList">
            <td style="width: 50%">
                {{task.description}}
            </td>
            <td style="width: 10%">
                {{task.status}}
            </td>
            <td style="width: 10%">
                {{task.priority}}
            </td>
            <td style="width: 10%">
                {{task.timeStamp | date: 'dd/mm/yyyy hh:mm'}}
            </td>
            <td style="width: 10%">
                <i class="bi bi-pencil-fill"></i>Edit<i class="bi-alarm"></i>
            </td>
            <td style="width: 10%">
                <i class="bi bi-pencil-fill"></i>Delete
            </td>
        </tr>
    </tbody>
  </table>